// highlight
// ---------

$highlightColor: yellow;


// Top Bar
// ---------

$top-bar-background: #37474f;


// Navigation (Side Bar)
// ---------

$side-bar-background: #263238;


// General  
// ---------

$content-background: #f5f5f5;
//$content-border-color: mix($content-background, #ffffff);
$content-border-color: #ffffff;
$admin-background: #272b27;







// Accordion Menu
// -----------------

$menu-item-padding: 0.9rem 1rem;
$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $white;
$accordionmenu-arrow-size: 6px;


// Top Bar
// -----------

$topbar-padding: 0.5rem;
$topbar-background: $top-bar-background;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 0.5rem 1rem 0.5rem 0;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;