// highlight
// ---------

$highlightColor: yellow !default;

// Navigation (Side Bar)
// ---------

$side-bar-background: #263238 !default;


// General  
// ---------

$content-background: none !default;
//$content-border-color: mix($content-background, #ffffff);
$content-border-color: #ffffff !default;
$admin-background: #272b27 !default;







// Accordion Menu
// -----------------

$menu-item-padding: 0.9rem 1rem !default;
$accordionmenu-arrows: true !default;
$accordionmenu-arrow-color: $white !default;
$accordionmenu-arrow-size: 6px !default;


