/* transiciones entre paginas */
// ------- 

.transition {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
.transition.ng-enter         { 
    z-index: -2;
    animation: slideInRight 0.2s both ease; 
}
.transition.ng-leave         { 
    z-index: -1;
    transform-origin: 0% 0%; 
    animation: slideOutLeft .2s both ease; 
}
