<div>
    <div class="tabs-wrapper">
        <button type="button" class="arrow-button float-left" ng-mousedown="scrollToLeft()" ng-mouseUp="mouseUp()" ng-show="enableScrollButtons && allowScrollToLeft"><i class="fa fa-chevron-left"></i></button>
        <button type="button" class="arrow-button float-right" ng-mousedown="scrollToRight()" ng-mouseUp="mouseUp()" ng-show="enableScrollButtons && allowScrollToRight"><i class="fa fa-chevron-right"></i></button>
        <ul class="tabs">
            <li class="tabs-title" ng-repeat='tab in tabs' ng-click="switch(tab)">
                <a class="{{tab.state}}" aria-selected="{{tab.name === active}}" title="{{tab.title}}">{{ tab.title }}&nbsp; <i ng-if="tab.endIcon" class="fa fa-{{tab.endIcon}}"></i></a>
            </li>
        </ul>
    </div>
    <div class="tabs-content" ng-transclude></div>
</div>