.ap-accordion {
    display: block;
    margin-bottom: 1rem;
}

.accordion-top {
    display: table;
    width: 100%;
    
    .accordion-title, .accordion-button {
        margin: 0;
        white-space: nowrap;
        display: table-cell;
        vertical-align: middle;
    }
    
    .accordion-title {
        @if mixin-exists(accordion-title) {
            @include accordion-title;
        }
        
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
        text-align: left;
    }
    
    .accordion-button {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: 1%;
        height: 100%; 
        
        button {
            padding: $padding;
            font-size: $font-size;
            border-bottom: 0;
            margin: 0;
            border-color: darken( $alert-color, 5% );
        }
    }
    
    &::before, &::after {
        display: table;
        content: ' ';
    }
}