<div class="input-group">
    <span class="input-group-label prefix"><i class="fa fa-calendar"></i></span>
    <input ng-class="{'is-invalid-input': isInvalid}" class="input-group-field ap-date" type="text" readonly>
    <span class="input-group-label">Hs</span>
    <input ng-class="{'is-invalid-input': isInvalid}" class="input-group-field" type="number" style="width: 60px;"
           ng-model="hours"
           ng-change="changeHour()">
    <span class="input-group-label" >Min</span>
    <input ng-class="{'is-invalid-input': isInvalid}" class="input-group-field" type="number" style="width: 60px;"
           ng-model="minutes"
           ng-change="changeMinute()">
</div>
    