.ap-box {
    display: block;
    position: relative;
    opacity: 1;
    transition: opacity 1s;
    
    &.no-visible {
        opacity: 0.5;
    }
    
    .card {
        position: relative;
        overflow: visible;
    }
    
    .top {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

