.ap-message {
    @include callout-base;
    border: none;
    
    &.warning {
        background: $warning-color;
        color: $white;
    }
    
    &.alert {
        background: $alert-color;
        color: $white;
    }
    
    &.success {
        background: $success-color;
        color: $white;
    }
    
    .close-button {
        @include close-button-size('medium');
        font-size: 2.2em;
        color: $white;
    }
}

.ap-message-container {
    position: fixed;
    top: $top-height;
    padding: 0 !important;
    z-index: 10;
    margin-left: -250px !important;
    
    .ap-message {
        margin: 0;
        margin-left: 250px;
    }
}