<ul class="vertical menu">
    <li ng-repeat="(name, item) in items"
        ng-class="{'is-active': baseIndex === $index}">
        <a href="{{item.link}}" ng-bind="name"></a>
        <ul ng-if="item.items" class="vertical menu nested">
            <li ng-repeat="(nestedItemName, nestedItemData) in item.items"
                ng-class="checkRoute(nestedItemData.link)">
                <a href="{{nestedItemData.link}}" ng-bind="nestedItemName"></a>
            </li>
        </ul>
    </li>
</ul>