$top-bar-background: #37474f !default;

top-bar {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 56px;
    border-bottom: 1px solid lighten( $top-bar-background, 10% );
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.55);
}
