// Custom
// -----------
$top-bar-background: #37474f !default;
$top-bar-shadow-color: rgba(0, 0, 0, 0.55) !default;
$top-bar-shadow: 1px 1px 10px $top-bar-shadow-color !default;


// Top Bar
// -----------

$topbar-background: $top-bar-background ;
$topbar-submenu-background: $top-bar-background;

@include foundation-top-bar;

top-bar {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $top-height;
    background: $top-bar-background;
    border-bottom: 1px solid lighten($top-bar-background, 10% );
    box-shadow: $top-bar-shadow;
}
