$padding: 1.25rem 1rem;
$font-size: 0.75rem;
$top-height: 56px !default;

@import 'components/top-bar/top-bar.style';
@import 'components/navigation/navigation.style';
@import 'directives/accordion/accordion.style';
@import 'directives/box/box.style';
@import 'directives/load/load.style'; 
@import 'directives/pagination/pagination.style';
@import 'directives/select/select.style';
@import 'directives/form/formValidation.style';
@import 'directives/dateTimePicker/dateTimePicker.style';
@import 'directives/timePicker/timePicker.style';
@import 'directives/imageLoader/imageLoader.style';
@import 'directives/messages/messages.style';
@import 'directives/infoOnTable/infoOnTable.style';
@import 'directives/fileSaver/fileSaver.style';
@import 'filters/highlight.style';


@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;

@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;

@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-visibility-classes;
@include foundation-float-classes;

body {
    overflow: hidden;
    overflow-y: auto;
}

.wrapper-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#content {
    @media screen and (min-width: 64em) {
        margin-top: $top-height;
    }
    position: relative;
    padding-top: 20px;
    margin-top: $top-height - 20;
    background: $content-background;
}


/* iconos */
// ------- 

i {
    .animate {
        transition: font-size 0.2s linear;
        
        .small {
            font-size: 1rem;
        }
        .medium {
            font-size: 1.2rem;
        }
        .large {
            font-size: 1.4rem;
        }
    }
    
    .small {
        font-size: 0.9rem;
    }
    .medium {
        font-size: 1rem;
    }
    .large {
        font-size: 1.2rem;
    }
}
.stack-for-icon {
    color: transparent;
    
    .small {
        font-size: 1rem;
    }
    .medium {
        font-size: 1.2rem;
    }
    .large {
        font-size: 1.4rem;
    }
}

