$padding: 1.25rem 1rem;
$font-size: 0.75rem;
$alert-color: red;
$highlight-color: yellow;

@import 'directives/accordion/accordion.style';
@import 'directives/box/box.style';
@import 'directives/load/load.style';
@import 'directives/select/select.style';

.highlighted {
    background: $highlight-color;
}