<label>
    {{label}}
    <div class="select-wrapper">
        <div class="input-group">
            <input class="input-group-text-field" type="text" ng-model="selectedValue"
                ng-change="onChangeInput()"
                ng-focus="onFocusInput()"
                ng-blur="onBlurInput()"
                ng-disabled="loading"
                autocomplete="off"/>
            <div class="input-group-button">
                <button type="button" class="button secondary"
                        ng-click="onClickButton()"
                        ng-mousedown="onMousedownButton($event)">
                    <span class="caret"></span>
                </button>
            </div>
        </div>
        <div class="dropdown" ng-class="{'is-open':list.displayed}">
            <ul ng-if="loading" class="list-group">
                <li style="font-weight: bold;">Cargando...</li>
            </ul>
            <ul ng-if="!loading && list.options.length > 0" class="list-group">
                <li ng-repeat="option in list.options"
                    ng-bind-html="option | selectOption | highlight:selectedValue"
                    ng-mousedown="onClickItemList($event, option)"
                    ng-class="{'active':option === selectedValue}"></li>
            </ul>
            <ul ng-if="!loading && list.options.length === 0" class="list-group">
                <li style="font-weight: bold;">No hay opciones disponibles</li>
            </ul>
        </div>
    </div>
</label>