
.select-ap {
    display: block;
    position: relative;
    
    .dropdown-ap {
        @include dropdown-container;
        padding: 0.4rem 0;
        width: 100%;
        top: 100%;
        left: 0;
        max-height: 0;
        transition: max-height 0.2s;
        overflow: hidden;
        
        &.is-open {
            max-height: 300px;
        }

        .list-group {
            list-style-type: none;
            margin: 0;

            > li {
                display: block;
                cursor: pointer;
                padding: 0.4rem 1rem;
                line-height: 1;
                background-color: transparent;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                }
                
                &.active {
                    background: $primary-color;
                }
            }
            
            &.new {
                > li {
                    font-weight: bold;
                    text-align: center;
                    background: rgba(128, 128, 128, 0.23);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-top: 1px solid #c1c1c1;
                    border-bottom: 1px solid #c1c1c1;
                    color: #848484;
                    text-shadow: 1px 1px 1px #fdfdfd;

                    &:hover {
                        background: rgba(128, 128, 128, 0.45);
                    }
                }
            }
        }
    }
}



.caret {
    position: relative;
    cursor: pointer;
    
    &:after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #fefefe transparent transparent;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: -0.4rem;
        
        &:before {
            border-color: #d2d2d2 transparent transparent;
        }
    }
}