.ap-load {
    position: relative;
    visibility: visible;
    min-height: 0;
    
    .ap-load-image {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        visibility: hidden !important;
        
        img {
            position: absolute; 
            margin: auto;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
    
    &.loading {
        visibility: hidden;
        overflow-y: hidden;
        max-height: 100px;
        
        .ap-load-image {
            visibility: visible !important;
        }
    }
}
