.ap-load {
    position: relative;
    visibility: visible;
    min-height: 0;
    
    .ap-load-image {
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden !important;
        
        img {
            position: absolute; 
            margin: auto;
            top: 40px;
            left: 0;
            right: 0;
        }
    }
    
    &.loading-remove {
        animation: 0.4s pulse linear; 
        /*animation: 0.4s fadeIn linear;*/ 
    }

    &.loading-add {
        animation: 0.4s fadeOut linear; 
        img {
            animation: 0.4s zoomOut linear; 
        }
    }
    
    &.loading {
        visibility: hidden;
        min-height: 200px;
        
        .ap-load-image {
            visibility: visible !important;
        }
    }
/*    
    .ap-load-image {
        
        &.ng-hide-remove {
            animation: 0.4s pulse linear; 
        }
        
        &.ng-hide-add {
            animation: 0.4s zoomOut linear; 
        }
    }
    
    .ap-load-content {
        position: relative;
        display: block !important;
        
        &.ng-hide {
            z-index: -1;
            opacity: 0;
        }
        
        &.ng-hide-remove {
            animation: 0.4s fadeIn linear; 
        }
        
        &.ng-hide-add {
            animation: 0.4s fadeOut linear; 
        }
    }*/
}
